*{
    margin: 0px;
    padding: 0px;
}

.head{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/bg4.jpg) ;
    background-size: cover;
    background-position: center;
    /* background-color: #095a55; */
}

#logo{
    height: 60px;
    cursor: pointer;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: auto;
    width: 90%;
    padding: 40px 0px;
    justify-content: space-between;
    align-items: center;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{
    cursor: pointer;
    margin: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.list-item:hover{
    color: yellow;
}

.main-content{
    display: flex;
    position: absolute;
    top: 45%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-color{
    color: #fff38e;
}

.main-content h1{
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}
 
.main-content p{
    margin: 5px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* footer{
    display: flex;
    width: 100%;
    background-color: #289089;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding: 10px 0;
    font-family: monospace;
    background-color: #095a55;
    color: white;
} */

footer{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0;
    color: white;
    background-color: #095a55;
}